/* When scrolling is triggered on the html element itself,the behavior of the scroll should be as fluid as possible.*/

html {
    scroll-behavior: smooth;
}

/* Set foreground color value and display values */
body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}
